* {
  margin: 0;
}

#container {
	position: relative;
	top: 60px;
	left: 26%;
}

#earth {
	height: 540px;
	width: 540px;
	background-image: url(earth.png);
	border-radius: 50%;
	background-size: 1100px;
}

#earth:after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 540px;
  height: 540px;
  border-radius: 50%;
  box-shadow: -80px 15px 80px 10px rgba(0,0,0,.9) inset;
}

.earth_outline {
	content:"";
	position: absolute;
	width: 530px;
	height: 530px;
	top: -9px;
	left: -7px;
	border-radius: 50%;
	border-style: solid;
	border-width: 10px;
	border-color: rgb(1, 1, 17);
}

.rotating {
	animation: rotating 4s linear infinite;
	 -webkit-animation: rotating 4s linear infinite;
	box-shadow: inset 40px 0 90px 8px rgba(0, 0, 0, 1);
	
}

@keyframes rotating {
  0% {background-position: 0 0;}
  100% {background-position: 1100px 0;}
}

@-webkit-keyframes rotating {
  0% {background-position: 0 0;}
  100% {background-position: 1100px 0;}
}

@-moz-keyframes rotating {
  0% {background-position: 0 0;}
  100% {background-position: 1100px 0;}
}

@-o-keyframes rotating {
  0% {background-position: 0 0;}
  100% {background-position: 1100px 0;}
}
